<div>  
  <div class="row">  
    <div class="col-sm-12 btn btn-primary">  
      Coronavirus Performance Analysis  
    </div>  
  </div>  
  <div class="row" style="margin-top:10px;margin-bottom: 10px;">  
    <div class="col-sm-2">  
      <button class="btn btn-success" routerLink="/google-trends">Line Chart Region</button>  
    </div>  
    <div class="col-sm-2">  
      <button class="btn btn-success" routerLink="/google-trends-date">Line Chart Date</button>  
    </div>  
 
  
  </div>  
</div>  
 
<router-outlet></router-outlet>
